h1 {
    color: brown;
    margin-left: 30px ;
}
.header{
    background-color: rgb(11, 163, 163);
    display: flex;
    justify-content: space-between;
}
.header *{
    border:solid;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
h2,p {
    text-align: center;
}
body{
    background-color: #818181;
}
a:link{
    color: white;
}
.menu{
    margin-right: 30px;
}
.item{
    position: relative;
}
.item p{
    position:absolute;
    top:50%;
    left:50%; 
}